*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.swiper-slide img.show-brand-image {
  opacity: 1 !important;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.sale-badge ::before {
  content: '';
  position: absolute;
  top: -2px !important;
  inset: 2px;
  border-radius: 0 0 999px 999px;
  border: 1px solid #ffffff;

}